@import "compass_twitter_bootstrap";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";


body {
	background: #FCFCFC;
}

.al {
	.container-main {
		padding: 50px;
	}

	.site-title {
		margin: 0;
		padding-left: 0;
		font-family: Oswald, arial, sans-serif;
		font-size: 46px;
		text-transform: uppercase;
		letter-spacing: 20px;
		color: #222222;
	}

	.site-title.sub {
		margin-top: 45px;
		margin-left: 147px;
		font-size: 18px;
		letter-spacing: 3px;
	}

	.navbar .nav > .active > a,
		.navbar .nav > .active > a:hover,
		.navbar .nav > .active > a:focus, 
		.navbar, .navbar-inner, .active {
		background: none;
		border: 0;
		color: #111;
		@include box-shadow(none);
		@include border-radius(none);
	}

	.navbar-main {
		padding: 17px 0 58px 0;
		border-bottom: 1px dotted #ddd;
		
		.navbar-inner {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.navbar .nav {
		margin-right: 0;
	}

	.navbar .nav a {
		font-family: Georgia, serif;
		font-size: 13px;
		line-height: 1.6em;
		text-transform: normal;
		text-decoration: none;
		text-align: left;
		font-weight: normal;
		font-style: italic;
		color: #999;
	}

	.navbar .nav > li > a {
		padding-right: 0;
		padding-left: 30px;
	}
}